%p#notice= notice

%h1=@command.name

%p
  %b Path:
  = @command.path
/%p
/  %b Description:
/  = @command.description

%p
  %b Usages:
  - @usages.each do |usage|
    = usage.commandUsage
    %br
    = usage.filePath
    %br

= link_to 'Edit', edit_command_path(@command)
\|
= link_to 'Back', commands_path
